name: Build and test

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
    tags: ['*']
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.6'

      - name: Install dependencies
        run: bundle install

      - name: Run tests
        run: bundle exec rspec

      - name: Install gem release and bump version
        run: |
          gem install gem-release
          gem bump --no-commit

      - name: Build gem
        run: bundle exec rake build
